header{
    text-align: center;
    font-size: 25px;
}
.container{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.gridItem{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
#turn{
    text-align: right;
    margin-right: 100px;
    font-size: 30px;
}